In [117]:
import pandas as pd
import numpy as np
import requests

In [118]:
'''I used the code from this link to help obtain the scorecard data: 
https://github.com/kiseki1107/College-Scorecard-Data-Analysis/blob/master/DataCollection_Cleansing.ipynb'''

'I used the code from this link to help obtain the scorecard data: \nhttps://github.com/kiseki1107/College-Scorecard-Data-Analysis/blob/master/DataCollection_Cleansing.ipynb'

In [119]:
'''API Key received from College Scorecard website'''
api_key = '57ykVTiQxEuSYJgbWUIgVHdpxfpyATyCGfJufXnM'

In [120]:
'''Base url that we will use to  query the College Scorecard API'''
base_url = 'https://api.data.gov/ed/collegescorecard/v1/schools?'
base_url = f'{base_url}api_key={api_key}&fields='

In [121]:
'''Obtain list of query parameters'''
parameters = [
    'school.degrees_awarded.predominant=3',
    'school.operating=1',
]
# Query parameters are: predominantly bachelor's degrees awarded by university, operating schools, and 4-year schools

In [122]:
'''Create query conditions for the URL'''
parameters_url = '&'
for param in parameters:
    parameters_url += param + '&'
parameters_url = parameters_url[:-1] # remove trailing ampersand
parameters_url

'&school.degrees_awarded.predominant=3&school.operating=1'

In [123]:
'''Get fields for desired output variables for specified year'''
year = 'latest'
fields = {
    #School categories
    'School Name': 'school.name',
    'School State': 'school.state',
    'Zip Code': 'school.zip',
    'School Locale': 'school.locale' ,
    'Religious Affiliation': 'school.religious_affiliation',
    'Rate of Full Time Faculty': 'school.ft_faculty_rate',
    'Faculty Avg. Salary': 'school.faculty_salary',
    
    #Student category
    'Enrollment Size': year + '.student.size',
    'Percent Males': year + '.student.demographics.men',
    'Percent Females': year + '.student.demographics.women',
    '4 Year Retention Rate': year + '.student.retention_rate.four_year.full_time',
    'Median Househould Income': year + '.student.demographics.median_hh_income',
    'Avg. Age of Entry': year + '.student.demographics.age_entry',
    
    #Admissions category
    'Admission Rate': year + '.admissions.admission_rate.overall',
    
    #Cost Category
    'Avg. Cost' : year + '.cost.attendance.academic_year',
    'Out of State Cost': year + '.cost.tuition.out_of_state',
    'In State Cost':  year + '.cost.tuition.in_state',
    'Average Net Price (Public)': year + '.cost.avg_net_price.public',
    'Average Net Price (Private)': year + '.cost.avg_net_price.private',
    
    #Aid Category
    'Percent that Received Pell Grant': year + '.aid.pell_grant_rate',
    'Percent of Undergraduates that Receive Federal Loan': year + '.aid.federal_loan_rate',
    '90th Percentile Cumulative Loan Debt': year + '.aid.cumulative_debt.90th_percentile',
    
    #Completion Category
    '150% 4 Year Completion Rate (Pooled)': year + '.completion.completion_rate_4yr_150nt_pooled',
    
    #Repayment Category
    'Percent Repaying Not in Default 5 Years': year + '.repayment.repayment_cohort.5_year_declining_balance',
    'Three Year Default Rate': year + '.repayment.3_yr_default_rate',
    'Undergraduate Federal Loan Repayment Rate' : year + '.repayment.1_yr_db_fed_repayment.ug.rate',
    
    #Earnings Category
    'Median Earnings for Students Not Enrolled 10 Years': year + '.earnings.10_yrs_after_entry.median',
}

In [124]:
'''Construct fields parameter for query url'''
fields_url = ''
for key,val in fields.items():
    fields_url += val + ','
fields_url = fields_url[:-1] # Remove trailing comma
fields_url

'school.name,school.state,school.zip,school.locale,school.religious_affiliation,school.ft_faculty_rate,school.faculty_salary,latest.student.size,latest.student.demographics.men,latest.student.demographics.women,latest.student.retention_rate.four_year.full_time,latest.student.demographics.median_hh_income,latest.student.demographics.age_entry,latest.admissions.admission_rate.overall,latest.cost.attendance.academic_year,latest.cost.tuition.out_of_state,latest.cost.tuition.in_state,latest.cost.avg_net_price.public,latest.cost.avg_net_price.private,latest.aid.pell_grant_rate,latest.aid.federal_loan_rate,latest.aid.cumulative_debt.90th_percentile,latest.completion.completion_rate_4yr_150nt_pooled,latest.repayment.repayment_cohort.5_year_declining_balance,latest.repayment.3_yr_default_rate,latest.repayment.1_yr_db_fed_repayment.ug.rate,latest.earnings.10_yrs_after_entry.median'

In [125]:
'''College Scorecard API returns 20 records at a time, so now figure out how many records we will recieve in total'''
query_url = f'{base_url}{fields_url}{parameters_url}&page=0'
response = requests.get(query_url).json()

In [126]:
response

{'metadata': {'page': 0, 'total': 1999, 'per_page': 20},
 'results': [{'latest.student.size': 5271,
   'latest.student.demographics.men': 0.3967,
   'latest.student.demographics.women': 0.6033,
   'latest.student.retention_rate.four_year.full_time': 0.5689,
   'latest.student.demographics.median_hh_income': 49720,
   'latest.student.demographics.age_entry': 20,
   'latest.admissions.admission_rate.overall': 0.9175,
   'latest.cost.attendance.academic_year': 23053,
   'latest.cost.tuition.out_of_state': 18634,
   'latest.cost.tuition.in_state': 10024,
   'latest.cost.avg_net_price.public': 14990,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.7019,
   'latest.aid.federal_loan_rate': 0.7361,
   'latest.aid.cumulative_debt.90th_percentile': 47750,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.2844,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.3311258278,
   'latest.repayment.3_yr_default_rate': 0.176,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.09506616961259,
   'latest.earnings.10_yrs_after_entry.median': 36339,
   'school.name': 'Alabama A & M University',
   'school.state': 'AL',
   'school.zip': '35762',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.711,
   'school.faculty_salary': 7709},
  {'latest.student.size': 13328,
   'latest.student.demographics.men': 0.389,
   'latest.student.demographics.women': 0.611,
   'latest.student.retention_rate.four_year.full_time': 0.831,
   'latest.student.demographics.median_hh_income': 55735,
   'latest.student.demographics.age_entry': 23,
   'latest.admissions.admission_rate.overall': 0.7366,
   'latest.cost.attendance.academic_year': 24495,
   'latest.cost.tuition.out_of_state': 20400,
   'latest.cost.tuition.in_state': 8568,
   'latest.cost.avg_net_price.public': 16953,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.3512,
   'latest.aid.federal_loan_rate': 0.4798,
   'latest.aid.cumulative_debt.90th_percentile': 37540,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.609,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.5710577547,
   'latest.repayment.3_yr_default_rate': 0.063,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.01404691081887,
   'latest.earnings.10_yrs_after_entry.median': 46990,
   'school.name': 'University of Alabama at Birmingham',
   'school.state': 'AL',
   'school.zip': '35294-0110',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.7754,
   'school.faculty_salary': 11049},
  {'latest.student.size': 7785,
   'latest.student.demographics.men': 0.581,
   'latest.student.demographics.women': 0.419,
   'latest.student.retention_rate.four_year.full_time': 0.8291,
   'latest.student.demographics.median_hh_income': 58688,
   'latest.student.demographics.age_entry': 22,
   'latest.admissions.admission_rate.overall': 0.8257,
   'latest.cost.attendance.academic_year': 23917,
   'latest.cost.tuition.out_of_state': 23518,
   'latest.cost.tuition.in_state': 11122,
   'latest.cost.avg_net_price.public': 15860,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.2536,
   'latest.aid.federal_loan_rate': 0.3976,
   'latest.aid.cumulative_debt.90th_percentile': 36250,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.5483,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.5883111302,
   'latest.repayment.3_yr_default_rate': 0.065,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 0.97709798858116,
   'latest.earnings.10_yrs_after_entry.median': 54361,
   'school.name': 'University of Alabama in Huntsville',
   'school.state': 'AL',
   'school.zip': '35899',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.6434,
   'school.faculty_salary': 9688},
  {'latest.student.size': 3750,
   'latest.student.demographics.men': 0.3691,
   'latest.student.demographics.women': 0.6309,
   'latest.student.retention_rate.four_year.full_time': 0.6127,
   'latest.student.demographics.median_hh_income': 46065,
   'latest.student.demographics.age_entry': 20,
   'latest.admissions.admission_rate.overall': 0.969,
   'latest.cost.attendance.academic_year': 21866,
   'latest.cost.tuition.out_of_state': 19396,
   'latest.cost.tuition.in_state': 11068,
   'latest.cost.avg_net_price.public': 13650,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.7627,
   'latest.aid.federal_loan_rate': 0.8232,
   'latest.aid.cumulative_debt.90th_percentile': 45000,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.3142,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.2897054358,
   'latest.repayment.3_yr_default_rate': 0.18,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.09499471209742,
   'latest.earnings.10_yrs_after_entry.median': 32084,
   'school.name': 'Alabama State University',
   'school.state': 'AL',
   'school.zip': '36104-0271',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.6501,
   'school.faculty_salary': 7221},
  {'latest.student.size': 31900,
   'latest.student.demographics.men': 0.4451,
   'latest.student.demographics.women': 0.5549,
   'latest.student.retention_rate.four_year.full_time': 0.8693,
   'latest.student.demographics.median_hh_income': 57928,
   'latest.student.demographics.age_entry': 21,
   'latest.admissions.admission_rate.overall': 0.8268,
   'latest.cost.attendance.academic_year': 29872,
   'latest.cost.tuition.out_of_state': 30250,
   'latest.cost.tuition.in_state': 10780,
   'latest.cost.avg_net_price.public': 22597,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.1772,
   'latest.aid.federal_loan_rate': 0.3802,
   'latest.aid.cumulative_debt.90th_percentile': 34000,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.7149,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.6358131488,
   'latest.repayment.3_yr_default_rate': 0.054,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 0.98026355460275,
   'latest.earnings.10_yrs_after_entry.median': 52751,
   'school.name': 'The University of Alabama',
   'school.state': 'AL',
   'school.zip': '35487-0100',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.7604,
   'school.faculty_salary': 10291},
  {'latest.student.size': 2677,
   'latest.student.demographics.men': 0.3153,
   'latest.student.demographics.women': 0.6847,
   'latest.student.retention_rate.four_year.full_time': None,
   'latest.student.demographics.median_hh_income': 50752,
   'latest.student.demographics.age_entry': 30,
   'latest.admissions.admission_rate.overall': None,
   'latest.cost.attendance.academic_year': None,
   'latest.cost.tuition.out_of_state': None,
   'latest.cost.tuition.in_state': None,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.4383,
   'latest.aid.federal_loan_rate': 0.4917,
   'latest.aid.cumulative_debt.90th_percentile': 34231,
   'latest.completion.completion_rate_4yr_150nt_pooled': None,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.5420168067,
   'latest.repayment.3_yr_default_rate': 0.067,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.02631109537666,
   'latest.earnings.10_yrs_after_entry.median': 42233,
   'school.name': 'Athens State University',
   'school.state': 'AL',
   'school.zip': '35611',
   'school.locale': 31,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.4808,
   'school.faculty_salary': 8421},
  {'latest.student.size': 4407,
   'latest.student.demographics.men': 0.356,
   'latest.student.demographics.women': 0.644,
   'latest.student.retention_rate.four_year.full_time': 0.6589,
   'latest.student.demographics.median_hh_income': 50723,
   'latest.student.demographics.age_entry': 22,
   'latest.admissions.admission_rate.overall': 0.9044,
   'latest.cost.attendance.academic_year': 19849,
   'latest.cost.tuition.out_of_state': 18292,
   'latest.cost.tuition.in_state': 8620,
   'latest.cost.avg_net_price.public': 13987,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.4644,
   'latest.aid.federal_loan_rate': 0.5391,
   'latest.aid.cumulative_debt.90th_percentile': 37250,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.3391,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.4601834862,
   'latest.repayment.3_yr_default_rate': 0.109,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.04017870560053,
   'latest.earnings.10_yrs_after_entry.median': 41679,
   'school.name': 'Auburn University at Montgomery',
   'school.state': 'AL',
   'school.zip': '36117-3596',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.9745,
   'school.faculty_salary': 7927},
  {'latest.student.size': 24209,
   'latest.student.demographics.men': 0.5171,
   'latest.student.demographics.women': 0.4829,
   'latest.student.retention_rate.four_year.full_time': 0.9136,
   'latest.student.demographics.median_hh_income': 59005,
   'latest.student.demographics.age_entry': 20,
   'latest.admissions.admission_rate.overall': 0.8067,
   'latest.cost.attendance.academic_year': 31590,
   'latest.cost.tuition.out_of_state': 31124,
   'latest.cost.tuition.in_state': 11492,
   'latest.cost.avg_net_price.public': 24104,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.1455,
   'latest.aid.federal_loan_rate': 0.3052,
   'latest.aid.cumulative_debt.90th_percentile': 33474,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.7861,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.7806225824,
   'latest.repayment.3_yr_default_rate': 0.029,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 0.93980943550238,
   'latest.earnings.10_yrs_after_entry.median': 56933,
   'school.name': 'Auburn University',
   'school.state': 'AL',
   'school.zip': '36849',
   'school.locale': 13,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.8751,
   'school.faculty_salary': 10738},
  {'latest.student.size': 1205,
   'latest.student.demographics.men': 0.4739,
   'latest.student.demographics.women': 0.5261,
   'latest.student.retention_rate.four_year.full_time': 0.7988,
   'latest.student.demographics.median_hh_income': 64789,
   'latest.student.demographics.age_entry': 19,
   'latest.admissions.admission_rate.overall': 0.5381,
   'latest.cost.attendance.academic_year': 32095,
   'latest.cost.tuition.out_of_state': 18238,
   'latest.cost.tuition.in_state': 18238,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 22107,
   'latest.aid.pell_grant_rate': 0.2357,
   'latest.aid.federal_loan_rate': 0.4666,
   'latest.aid.cumulative_debt.90th_percentile': 32524,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.6858,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.7704918033,
   'latest.repayment.3_yr_default_rate': 0.037,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 0.95901299060953,
   'latest.earnings.10_yrs_after_entry.median': 50775,
   'school.name': 'Birmingham-Southern College',
   'school.state': 'AL',
   'school.zip': '35254',
   'school.locale': 12,
   'school.religious_affiliation': 71,
   'school.ft_faculty_rate': 0.6839,
   'school.faculty_salary': 6294},
  {'latest.student.size': 251,
   'latest.student.demographics.men': 0.1912,
   'latest.student.demographics.women': 0.8088,
   'latest.student.retention_rate.four_year.full_time': 0.2,
   'latest.student.demographics.median_hh_income': 55764,
   'latest.student.demographics.age_entry': 30,
   'latest.admissions.admission_rate.overall': None,
   'latest.cost.attendance.academic_year': 28258,
   'latest.cost.tuition.out_of_state': 17014,
   'latest.cost.tuition.in_state': 17014,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 20384,
   'latest.aid.pell_grant_rate': 0.6137,
   'latest.aid.federal_loan_rate': 0.648,
   'latest.aid.cumulative_debt.90th_percentile': 37500,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.0959,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.2736477659,
   'latest.repayment.3_yr_default_rate': 0.118,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.05182597299198,
   'latest.earnings.10_yrs_after_entry.median': 36710,
   'school.name': 'South University-Montgomery',
   'school.state': 'AL',
   'school.zip': '36116',
   'school.locale': 12,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.1053,
   'school.faculty_salary': 4826},
  {'latest.student.size': 1928,
   'latest.student.demographics.men': 0.4123,
   'latest.student.demographics.women': 0.5877,
   'latest.student.retention_rate.four_year.full_time': 0.6102,
   'latest.student.demographics.median_hh_income': 52330,
   'latest.student.demographics.age_entry': 28,
   'latest.admissions.admission_rate.overall': 0.7833,
   'latest.cost.attendance.academic_year': 34317,
   'latest.cost.tuition.out_of_state': 22310,
   'latest.cost.tuition.in_state': 22310,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 20715,
   'latest.aid.pell_grant_rate': 0.4881,
   'latest.aid.federal_loan_rate': 0.6096,
   'latest.aid.cumulative_debt.90th_percentile': 37028,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.3019,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.3972296693,
   'latest.repayment.3_yr_default_rate': 0.098,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.05171071785254,
   'latest.earnings.10_yrs_after_entry.median': 39437,
   'school.name': 'Faulkner University',
   'school.state': 'AL',
   'school.zip': '36109-3390',
   'school.locale': 12,
   'school.religious_affiliation': 74,
   'school.ft_faculty_rate': 0.5053,
   'school.faculty_salary': 6001},
  {'latest.student.size': 1007,
   'latest.student.demographics.men': 0.4876,
   'latest.student.demographics.women': 0.5124,
   'latest.student.retention_rate.four_year.full_time': 0.6169,
   'latest.student.demographics.median_hh_income': 54037,
   'latest.student.demographics.age_entry': 23,
   'latest.admissions.admission_rate.overall': 0.5929,
   'latest.cost.attendance.academic_year': 36828,
   'latest.cost.tuition.out_of_state': 27400,
   'latest.cost.tuition.in_state': 27400,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 21486,
   'latest.aid.pell_grant_rate': 0.445,
   'latest.aid.federal_loan_rate': 0.7225,
   'latest.aid.cumulative_debt.90th_percentile': 35500,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.4607,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.5925349922,
   'latest.repayment.3_yr_default_rate': 0.099,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.01544154973596,
   'latest.earnings.10_yrs_after_entry.median': 45389,
   'school.name': 'Huntingdon College',
   'school.state': 'AL',
   'school.zip': '36106-2148',
   'school.locale': 12,
   'school.religious_affiliation': 71,
   'school.ft_faculty_rate': 0.464,
   'school.faculty_salary': 6678},
  {'latest.student.size': 59,
   'latest.student.demographics.men': 0.9661,
   'latest.student.demographics.women': 0.0339,
   'latest.student.retention_rate.four_year.full_time': 1,
   'latest.student.demographics.median_hh_income': 51048,
   'latest.student.demographics.age_entry': 28,
   'latest.admissions.admission_rate.overall': 0.2353,
   'latest.cost.attendance.academic_year': 20695,
   'latest.cost.tuition.out_of_state': 11532,
   'latest.cost.tuition.in_state': 11532,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 9990,
   'latest.aid.pell_grant_rate': 0.4314,
   'latest.aid.federal_loan_rate': 0.0392,
   'latest.aid.cumulative_debt.90th_percentile': None,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.5333,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.5869565217,
   'latest.repayment.3_yr_default_rate': 0.09,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 0.9257418386603,
   'latest.earnings.10_yrs_after_entry.median': 34561,
   'school.name': 'Heritage Christian University',
   'school.state': 'AL',
   'school.zip': '35630-9977',
   'school.locale': 13,
   'school.religious_affiliation': 74,
   'school.ft_faculty_rate': 1,
   'school.faculty_salary': 4774},
  {'latest.student.size': 6743,
   'latest.student.demographics.men': 0.4053,
   'latest.student.demographics.women': 0.5947,
   'latest.student.retention_rate.four_year.full_time': 0.7566,
   'latest.student.demographics.median_hh_income': 48389,
   'latest.student.demographics.age_entry': 22,
   'latest.admissions.admission_rate.overall': 0.5479,
   'latest.cost.attendance.academic_year': 19004,
   'latest.cost.tuition.out_of_state': 20840,
   'latest.cost.tuition.in_state': 11120,
   'latest.cost.avg_net_price.public': 15559,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.3803,
   'latest.aid.federal_loan_rate': 0.61,
   'latest.aid.cumulative_debt.90th_percentile': 41750,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.4194,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.4580348004,
   'latest.repayment.3_yr_default_rate': 0.088,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.03371844896952,
   'latest.earnings.10_yrs_after_entry.median': 39354,
   'school.name': 'Jacksonville State University',
   'school.state': 'AL',
   'school.zip': '36265',
   'school.locale': 23,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.6903,
   'school.faculty_salary': 7269},
  {'latest.student.size': 2235,
   'latest.student.demographics.men': 0.3946,
   'latest.student.demographics.women': 0.6054,
   'latest.student.retention_rate.four_year.full_time': 0.6659,
   'latest.student.demographics.median_hh_income': 40238,
   'latest.student.demographics.age_entry': 22,
   'latest.admissions.admission_rate.overall': 0.3493,
   'latest.cost.attendance.academic_year': 21657,
   'latest.cost.tuition.out_of_state': 20090,
   'latest.cost.tuition.in_state': 10990,
   'latest.cost.avg_net_price.public': 15514,
   'latest.cost.avg_net_price.private': None,
   'latest.aid.pell_grant_rate': 0.5353,
   'latest.aid.federal_loan_rate': 0.6007,
   'latest.aid.cumulative_debt.90th_percentile': 39500,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.3307,
   'latest.repayment.repayment_cohort.5_year_declining_balance': 0.4271907216,
   'latest.repayment.3_yr_default_rate': 0.073,
   'latest.repayment.1_yr_db_fed_repayment.ug.rate': 1.06211624484125,
   'latest.earnings.10_yrs_after_entry.median': 35767,
   'school.name': 'University of West Alabama',
   'school.state': 'AL',
   'school.zip': '35470',
   'school.locale': 43,
   'school.religious_affiliation': None,
   'school.ft_faculty_rate': 0.4659,
   'school.faculty_salary': 6481},
  {'latest.student.size': 1452,
   'latest.student.demographics.men': 0.5021,
   'latest.student.demographics.women': 0.4979,
   'latest.student.retention_rate.four_year.full_time': 0.6408,
   'latest.student.demographics.median_hh_income': 43157,
   'latest.student.demographics.age_entry': 21,
   'latest.admissions.admission_rate.overall': None,
   'latest.cost.attendance.academic_year': 22300,
   'latest.cost.tuition.out_of_state': 12464,
   'latest.cost.tuition.in_state': 12464,
   'latest.cost.avg_net_price.public': None,
   'latest.cost.avg_net_price.private': 14303,
   'latest.aid.pell_grant_rate': 0.86,
   'latest.aid.federal_loan_rate': 0.9129,
   'latest.aid.cumulative_debt.90th_percentile': 40998,
   'latest.completion.completion_rate_4yr_150nt_pooled': 0.2459,

In [127]:
total_pages = response['metadata']['total']
total_pages

1999

In [128]:
'''Next, determine the nubmer of iterations it will take to get all of the responses'''
num_iter = (total_pages // 20) + 1
num_iter

100

In [129]:
'''Now, construct a pandas dataframe of the data'''
_df = []
for page_num in range(0, num_iter):
    query_url = f'{base_url}{fields_url}{parameters_url}&page={page_num}'
    response = requests.get(query_url).json()
    for i in range(len(response['results'])):
        row = {}
        for key, val in fields.items():
            if (response['results'][i][val] == None) or (response['results'][i][val]=='NaN'):#Observation is missing
                row[key] = None 
            else: # Observation is not missing
                row[key] = response['results'][i][val] 
        _df.append(row)
school_df = pd.DataFrame(_df)

In [130]:
# Recode Religious Affiliation column to be indicate Catholic College or not Catholic
school_df['Catholic'] = school_df['Religious Affiliation'].apply(lambda x: 1 if x == 30.0 else 0)
school_df.drop('Religious Affiliation', axis=1, inplace=True)

In [131]:
# Create new column for average net price for public and private institutions
_length = len(school_df['Average Net Price (Public)'])
net_price = []
for i in range(_length):
    if not pd.isna(school_df['Average Net Price (Public)'].values[i]):  # Public institution has obs. for average net price
              net_price.append(school_df['Average Net Price (Public)'].values[i])
    else: # School is either private, or has no obs. for average net price
              net_price.append(school_df['Average Net Price (Private)'].values[i])
school_df['Average Net Price'] = net_price

In [132]:
school_df[school_df['School Name'] == 'Duquesne University']

,School Name,School State,Zip Code,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,90th Percentile Cumulative Loan Debt,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Median Earnings for Students Not Enrolled 10 Years,Catholic,Average Net Price
1247,Duquesne University,PA,15282,11,0.5171,9367.0,5837.0,0.3637,0.6363,0.8547,...,0.1923,0.6202,33250.0,0.8038,0.849254,0.025,0.909865,66207.0,1,29309.0

In [133]:
school_df

,School Name,School State,Zip Code,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,90th Percentile Cumulative Loan Debt,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Median Earnings for Students Not Enrolled 10 Years,Catholic,Average Net Price
0,Alabama A & M University,AL,35762,12,0.7110,7709.0,5271.0,0.3967,0.6033,0.5689,...,0.7019,0.7361,47750.0,0.2844,0.331126,0.176,1.095066,36339.0,0,14990.0
1,University of Alabama at Birmingham,AL,35294-0110,12,0.7754,11049.0,13328.0,0.3890,0.6110,0.8310,...,0.3512,0.4798,37540.0,0.6090,0.571058,0.063,1.014047,46990.0,0,16953.0
2,University of Alabama in Huntsville,AL,35899,12,0.6434,9688.0,7785.0,0.5810,0.4190,0.8291,...,0.2536,0.3976,36250.0,0.5483,0.588311,0.065,0.977098,54361.0,0,15860.0
3,Alabama State University,AL,36104-0271,12,0.6501,7221.0,3750.0,0.3691,0.6309,0.6127,...,0.7627,0.8232,45000.0,0.3142,0.289705,0.180,1.094995,32084.0,0,13650.0
4,The University of Alabama,AL,35487-0100,12,0.7604,10291.0,31900.0,0.4451,0.5549,0.8693,...,0.1772,0.3802,34000.0,0.7149,0.635813,0.054,0.980264,52751.0,0,22597.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,Arizona College-Dallas,TX,75243-1200,11,0.2308,7453.0,197.0,0.0914,0.9086,NaN,...,0.6842,1.0000,NaN,NaN,NaN,0.213,1.014655,NaN,0,NaN
1995,Christ Mission College,TX,78254-1000,21,NaN,NaN,45.0,0.4222,0.5778,0.6000,...,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1996,Urshan College,MO,63385,21,NaN,5352.0,302.0,0.4338,0.5662,0.6429,...,0.0000,0.0000,NaN,0.2727,NaN,NaN,NaN,NaN,0,NaN
1997,Yeshiva Yesoda Hatorah Vetz Chaim,NY,11211-7106,11,1.0000,3543.0,140.0,1.0000,0.0000,1.0000,...,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1998,Ponce Health Sciences University-East,PR,00731-0000,12,0.5000,5052.0,41.0,0.2195,0.7805,NaN,...,NaN,NaN,NaN,NaN,NaN,0.014,NaN,NaN,0,NaN

In [134]:
school_df.iloc[1990:]

,School Name,School State,Zip Code,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,90th Percentile Cumulative Loan Debt,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Median Earnings for Students Not Enrolled 10 Years,Catholic,Average Net Price
1990,San Diego Global Knowledge University,CA,92101-7446,11,NaN,NaN,77.0,0.5584,0.4416,0.9143,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1991,Congregation Talmidei Mesivta Tiferes Shmiel A...,NY,11219-5440,11,0.7692,4511.0,179.0,1.0000,0.0000,0.9444,...,0.5852,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,13998.0
1992,University of Arkansas System eVersity,AR,72207-3608,12,NaN,NaN,799.0,0.3542,0.6458,NaN,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1993,College Unbound,RI,02905-2340,12,NaN,NaN,114.0,0.2193,0.7807,NaN,...,0.1250,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1994,Arizona College-Dallas,TX,75243-1200,11,0.2308,7453.0,197.0,0.0914,0.9086,NaN,...,0.6842,1.0,NaN,NaN,NaN,0.213,1.014655,NaN,0,NaN
1995,Christ Mission College,TX,78254-1000,21,NaN,NaN,45.0,0.4222,0.5778,0.6000,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1996,Urshan College,MO,63385,21,NaN,5352.0,302.0,0.4338,0.5662,0.6429,...,0.0000,0.0,NaN,0.2727,NaN,NaN,NaN,NaN,0,NaN
1997,Yeshiva Yesoda Hatorah Vetz Chaim,NY,11211-7106,11,1.0000,3543.0,140.0,1.0000,0.0000,1.0000,...,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1998,Ponce Health Sciences University-East,PR,00731-0000,12,0.5000,5052.0,41.0,0.2195,0.7805,NaN,...,NaN,NaN,NaN,NaN,NaN,0.014,NaN,NaN,0,NaN

In [135]:
school_df.describe()

,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,Median Househould Income,Avg. Age of Entry,Admission Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,90th Percentile Cumulative Loan Debt,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Median Earnings for Students Not Enrolled 10 Years,Catholic,Average Net Price
count,1999.000000,1846.000000,1939.000000,1997.000000,1997.000000,1997.000000,1841.000000,1751.000000,1927.000000,1640.000000,...,1971.000000,1971.000000,1770.000000,1862.000000,1781.000000,1876.000000,1868.000000,1815.000000,1999.000000,1815.000000
mean,19.532266,0.643335,7703.661166,4506.690035,0.438295,0.552191,0.743475,62707.593946,22.862999,0.682116,...,0.383832,0.508351,34336.140678,0.535013,0.652215,0.070868,0.969460,50502.958678,0.099050,19965.311295
std,9.352931,0.275347,2695.443754,7941.239449,0.186785,0.189665,0.152908,12730.058804,4.169054,0.214457,...,0.181666,0.224467,6663.840136,0.199135,0.165394,0.052185,0.074030,14666.181509,0.298803,8269.142912
min,11.000000,0.000000,527.000000,0.000000,0.000000,0.000000,0.000000,17277.000000,17.000000,0.019700,...,0.000000,0.000000,5500.000000,0.000000,0.132867,0.000000,0.319212,16792.000000,0.000000,169.000000
25%,11.000000,0.441225,6040.500000,640.000000,0.357700,0.495300,0.666700,55764.000000,20.000000,0.566150,...,0.258700,0.381150,31000.000000,0.400450,0.562543,0.034000,0.932986,41591.000000,0.000000,14286.500000
50%,13.000000,0.668450,7426.000000,1685.000000,0.429700,0.568000,0.758300,63170.000000,22.000000,0.714500,...,0.363500,0.532500,34000.000000,0.537450,0.670061,0.059000,0.980732,48106.000000,0.000000,19202.000000
75%,23.000000,0.893075,9130.000000,4553.000000,0.500800,0.638400,0.839700,71677.000000,24.000000,0.839500,...,0.484500,0.672600,37999.500000,0.670525,0.775444,0.093000,1.016714,56839.500000,0.000000,24577.500000
max,43.000000,1.000000,20988.000000,98630.000000,1.000000,1.000000,1.000000,96737.000000,51.000000,1.000000,...,1.000000,1.000000,55365.000000,1.000000,0.945070,0.370000,1.134698,132969.000000,1.000000,54902.000000

In [136]:
school_df['Catholic'].value_counts()

0    1801
1     198
Name: Catholic, dtype: int64

In [137]:
# Obtain counts of missing entries for each column
null_counts = []
for col in school_df:
    variable = {}
    count = school_df[col].isnull().sum()
    variable[col] = count
    null_counts.append(variable)
null_counts

[{'School Name': 0},
 {'School State': 0},
 {'Zip Code': 0},
 {'School Locale': 0},
 {'Rate of Full Time Faculty': 153},
 {'Faculty Avg. Salary': 60},
 {'Enrollment Size': 2},
 {'Percent Males': 2},
 {'Percent Females': 2},
 {'4 Year Retention Rate': 158},
 {'Median Househould Income': 248},
 {'Avg. Age of Entry': 72},
 {'Admission Rate': 359},
 {'Avg. Cost': 185},
 {'Out of State Cost': 88},
 {'In State Cost': 88},
 {'Average Net Price (Public)': 1451},
 {'Average Net Price (Private)': 732},
 {'Percent that Received Pell Grant': 28},
 {'Percent of Undergraduates that Receive Federal Loan': 28},
 {'90th Percentile Cumulative Loan Debt': 229},
 {'150% 4 Year Completion Rate (Pooled)': 137},
 {'Percent Repaying Not in Default 5 Years': 218},
 {'Three Year Default Rate': 123},
 {'Undergraduate Federal Loan Repayment Rate': 131},
 {'Median Earnings for Students Not Enrolled 10 Years': 184},
 {'Catholic': 0},
 {'Average Net Price': 184}]

In [138]:
# Drop any row that has missing value for 90th percentile cumulative debt, median earnings for non-enrolled students 10 years
# after entry, 150% 4 year completion rate,
_length = len(school_df)
nan_indices = []
for i in range(_length):
    #print(school_df['90th Percentile Cumulative Loan Debt'].values[i])
    if pd.isna(school_df['90th Percentile Cumulative Loan Debt'].values[i]): nan_indices.append(i)
    elif pd.isna(school_df['Median Earnings for Students Not Enrolled 10 Years'].values[i]): nan_indices.append(i)
    elif pd.isna(school_df['150% 4 Year Completion Rate (Pooled)'].values[i]) : nan_indices.append(i)
school_df.drop(index=nan_indices, inplace=True)

In [139]:
# Obtain counts of missing entries for each column. Now, 90th Percentile Cumulative Debt should have no missing values!
null_counts = []
for col in school_df:
    variable = {}
    count = school_df[col].isnull().sum()
    variable[col] = count
    null_counts.append(variable)
null_counts

[{'School Name': 0},
 {'School State': 0},
 {'Zip Code': 0},
 {'School Locale': 0},
 {'Rate of Full Time Faculty': 41},
 {'Faculty Avg. Salary': 32},
 {'Enrollment Size': 1},
 {'Percent Males': 1},
 {'Percent Females': 1},
 {'4 Year Retention Rate': 39},
 {'Median Househould Income': 83},
 {'Avg. Age of Entry': 0},
 {'Admission Rate': 195},
 {'Avg. Cost': 39},
 {'Out of State Cost': 5},
 {'In State Cost': 5},
 {'Average Net Price (Public)': 1130},
 {'Average Net Price (Private)': 573},
 {'Percent that Received Pell Grant': 20},
 {'Percent of Undergraduates that Receive Federal Loan': 20},
 {'90th Percentile Cumulative Loan Debt': 0},
 {'150% 4 Year Completion Rate (Pooled)': 0},
 {'Percent Repaying Not in Default 5 Years': 12},
 {'Three Year Default Rate': 0},
 {'Undergraduate Federal Loan Repayment Rate': 1},
 {'Median Earnings for Students Not Enrolled 10 Years': 0},
 {'Catholic': 0},
 {'Average Net Price': 39}]

In [140]:
school_df

,School Name,School State,Zip Code,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,90th Percentile Cumulative Loan Debt,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Median Earnings for Students Not Enrolled 10 Years,Catholic,Average Net Price
0,Alabama A & M University,AL,35762,12,0.7110,7709.0,5271.0,0.3967,0.6033,0.5689,...,0.7019,0.7361,47750.0,0.2844,0.331126,0.176,1.095066,36339.0,0,14990.0
1,University of Alabama at Birmingham,AL,35294-0110,12,0.7754,11049.0,13328.0,0.3890,0.6110,0.8310,...,0.3512,0.4798,37540.0,0.6090,0.571058,0.063,1.014047,46990.0,0,16953.0
2,University of Alabama in Huntsville,AL,35899,12,0.6434,9688.0,7785.0,0.5810,0.4190,0.8291,...,0.2536,0.3976,36250.0,0.5483,0.588311,0.065,0.977098,54361.0,0,15860.0
3,Alabama State University,AL,36104-0271,12,0.6501,7221.0,3750.0,0.3691,0.6309,0.6127,...,0.7627,0.8232,45000.0,0.3142,0.289705,0.180,1.094995,32084.0,0,13650.0
4,The University of Alabama,AL,35487-0100,12,0.7604,10291.0,31900.0,0.4451,0.5549,0.8693,...,0.1772,0.3802,34000.0,0.7149,0.635813,0.054,0.980264,52751.0,0,22597.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,Milligan University,TN,37682,22,0.9907,6173.0,796.0,0.4648,0.5352,0.7429,...,0.2618,0.5356,34534.0,0.6622,0.722611,0.036,0.965127,44068.0,0,19806.0
1954,Husson University,ME,04401-2929,13,0.9778,7297.0,2642.0,0.4383,0.5617,0.7280,...,0.4189,0.7416,35750.0,0.5645,0.641234,0.080,1.008693,43582.0,0,18286.0
1963,Indiana Wesleyan University-National & Global,IN,46953,41,1.0000,7320.0,6859.0,0.2674,0.7326,NaN,...,0.4844,0.6038,35500.0,0.3754,0.615623,0.069,1.005050,54411.0,0,22207.0
1968,Purdue University Global,IN,47906,11,0.2084,4775.0,28106.0,0.3539,0.6461,1.0000,...,0.5471,0.4779,43600.0,0.2654,0.304624,0.112,1.049673,31462.0,0,NaN
1969,Carolina University,NC,27101,12,0.3404,3380.0,348.0,0.5316,0.4684,0.6404,...,0.6290,0.5484,25950.0,0.3871,0.664179,0.145,1.051586,34596.0,0,14461.0

In [141]:
# Construct ratio of out-of-state and in-state tuition costs
school_df['Out-In State Tuition Ratio'] = school_df['Out of State Cost'] / school_df['In State Cost']

In [142]:
# Construct ratio of meidan debt to median 10 year earnings
school_df['Debt to Earnings Ratio'] = school_df['90th Percentile Cumulative Loan Debt'] / school_df['Median Earnings for Students Not Enrolled 10 Years']

In [144]:
final_school_df = school_df.copy()

In [145]:
dropped_columns = [
    'Out of State Cost',
    'In State Cost',
    '90th Percentile Cumulative Loan Debt',
    'Median Earnings for Students Not Enrolled 10 Years',
    'Average Net Price (Public)',
    'Average Net Price (Private)'
]
final_school_df.drop(dropped_columns, axis=1)

,School Name,School State,Zip Code,School Locale,Rate of Full Time Faculty,Faculty Avg. Salary,Enrollment Size,Percent Males,Percent Females,4 Year Retention Rate,...,Percent that Received Pell Grant,Percent of Undergraduates that Receive Federal Loan,150% 4 Year Completion Rate (Pooled),Percent Repaying Not in Default 5 Years,Three Year Default Rate,Undergraduate Federal Loan Repayment Rate,Catholic,Average Net Price,Out-In State Tuition Ratio,Debt to Earnings Ratio
0,Alabama A & M University,AL,35762,12,0.7110,7709.0,5271.0,0.3967,0.6033,0.5689,...,0.7019,0.7361,0.2844,0.331126,0.176,1.095066,0,14990.0,1.858939,1.314015
1,University of Alabama at Birmingham,AL,35294-0110,12,0.7754,11049.0,13328.0,0.3890,0.6110,0.8310,...,0.3512,0.4798,0.6090,0.571058,0.063,1.014047,0,16953.0,2.380952,0.798893
2,University of Alabama in Huntsville,AL,35899,12,0.6434,9688.0,7785.0,0.5810,0.4190,0.8291,...,0.2536,0.3976,0.5483,0.588311,0.065,0.977098,0,15860.0,2.114548,0.666838
3,Alabama State University,AL,36104-0271,12,0.6501,7221.0,3750.0,0.3691,0.6309,0.6127,...,0.7627,0.8232,0.3142,0.289705,0.180,1.094995,0,13650.0,1.752439,1.402568
4,The University of Alabama,AL,35487-0100,12,0.7604,10291.0,31900.0,0.4451,0.5549,0.8693,...,0.1772,0.3802,0.7149,0.635813,0.054,0.980264,0,22597.0,2.806122,0.644538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,Milligan University,TN,37682,22,0.9907,6173.0,796.0,0.4648,0.5352,0.7429,...,0.2618,0.5356,0.6622,0.722611,0.036,0.965127,0,19806.0,1.000000,0.783653
1954,Husson University,ME,04401-2929,13,0.9778,7297.0,2642.0,0.4383,0.5617,0.7280,...,0.4189,0.7416,0.5645,0.641234,0.080,1.008693,0,18286.0,1.000000,0.820293
1963,Indiana Wesleyan University-National & Global,IN,46953,41,1.0000,7320.0,6859.0,0.2674,0.7326,NaN,...,0.4844,0.6038,0.3754,0.615623,0.069,1.005050,0,22207.0,1.000000,0.652442
1968,Purdue University Global,IN,47906,11,0.2084,4775.0,28106.0,0.3539,0.6461,1.0000,...,0.5471,0.4779,0.2654,0.304624,0.112,1.049673,0,NaN,1.786487,1.385799
1969,Carolina University,NC,27101,12,0.3404,3380.0,348.0,0.5316,0.4684,0.6404,...,0.6290,0.5484,0.3871,0.664179,0.145,1.051586,0,14461.0,1.000000,0.750087

In [146]:
school_df.to_csv('scorecard_dataset.csv', index = False)